<!-- backend/templates/backend/sensor_data.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
</head>
<body>
    <h1>Image Data</h1>
    <table>
        <thead>
            <tr>
                <th>image</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in image_data %}
                <tr>
                    <td>{{ data.temperature }}</td>
                    
                    <td>{{ data.timestamp }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No data available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
